$headerImage: url("../img/header_background_v2.jpg");
$borderColor: rgb(207, 216, 220);
$headerTextColor: rgb(255, 87, 34);
$buttonColor: rgb(4, 1, 172);
$backgroundColor: rgb(239, 239, 239);
$blogBlockColor: white;
$postDescriptionColor: rgb(189, 189, 189);
$titleColor: rgb(96, 125, 139);
$textColor: rgb(117, 117, 117);
$textFont: 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;