$headerImage: url("../img/header_background_v1.jpg");
$borderColor: rgb(96, 125, 139);
$headerTextColor: white;
$buttonColor: rgb(1, 172, 172);
$backgroundColor: white;
$blogBlockColor: rgb(239, 239, 239);
$postDescriptionColor: red;
$titleColor: rgb(0, 151, 167);
$textColor: black;
$textFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;